.tabs {

    .tab-content>.tab-pane {
        @media (max-width: 991px) {
            display: block;
            opacity: 1;
        }
    }


    &__grid {
        display: grid;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    &__image {
        aspect-ratio: 3 / 1;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-sm);
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width:576px) {
        &__buttons {
            flex-direction: row;
        }
    }

    @media (min-width:992px) {
        &__grid {
            grid-template-columns: 1fr 1.6fr;
            gap: 4rem;
            margin-bottom: 0;
        }
        &__image {
            aspect-ratio: 3 / 3.5;
        }
    }

    
    .nav-tabs {
        display: none;
        @media (min-width:992px) {
            border-bottom: none;
            display: flex;
            gap: 3rem;
        }
    }
    .tabs_tab {
        min-width: 300px;
        border: none;
        border-bottom: 2px solid var(--col-primary-400);
        background-color: transparent;
        color: var(--col-primary-400);
        font-size: var(--fs-500);
        font-weight: var(--fw-600);
        text-align: start;
    
        &.active {
            font-weight: var(--fw-700);
            border-bottom: 2px solid var(--col-secondary-400);
            color: var(--col-secondary-400);
        }
    }

    .tabs_button {
        width: 100%;
        border: none;
        border-bottom: 2px solid var(--col-primary-400);
        background-color: transparent;
        color: var(--col-primary-400);
        font-size: var(--fs-500);
        font-weight: var(--fw-900);
        text-align: start;
        margin-bottom: 1rem;
        
        &[aria-expanded="false"] {
            border-bottom: 2px solid var(--col-primary-400);
        }
        &[aria-expanded="true"] {
            border-bottom: 2px solid var(--col-secondary-400);
            color: var(--col-secondary-400);
        }
    }


    .accordion-item {
        border: none;
    }

}