.btn {
    position: relative;
    border-radius: 0.25rem;
    font-weight: var(--fw-600);
    font-size: var(--fs-300);
    transition: all 0.3s ease;
    min-width: min(100%,280px);
    text-transform: uppercase;

    &-text {
        padding-right: 0;
        position: relative;
        right: -8px;
        transition: right var(--transition);
        will-change: right, padding;
    }
    &-arrow {
        opacity: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        transition: opacity var(--transition),transform var(--transition);
        will-change: opacity;
    }
    &:hover {
        color: white;
        .btn-text {
            right: 0;
            transform: translate3d(-4px, 1px 0);
        }
        .btn-arrow {
            transform: translate3d(4px, 0, 0);
            opacity: 1;
        }
    }
}

.btn-secondary {
    background-color: var(--col-secondary-400);
    border-color: var(--col-secondary-400);
    &:hover {
        background-color: var(--col-primary-400);
        border-color: var(--col-primary-400);
    }
}
