.has-primary-200-color {
    color: var(--col-primary-200) !important;
}
.has-primary-400-color {
    color: var(--col-primary-400) !important;
}
.has-primary-900-color {
    color: var(--col-primary-900) !important;
}
.has-secondary-400-color {
    color: var(--col-secondary-400) !important;
}