/* montserrat-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v25-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v25-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-variant-ligatures: none;
}

html {
    // font-size: var(--fs-400);
    font-size: 16px;
}

body {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    line-height: 1.556;
    font-style: normal;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-weight: var(--fw-600);
}

h1, .h1 {
    font-weight: var(--fw-700);
    font-size: var(--fs-900);
}
h2, .h2 {
    font-size: var(--fs-800);
}
h3, .h3 {
    font-size: var(--fs-700);
}
h4, .h4 {
    font-size: var(--fs-600);
}
h5, .h5 {
    font-size: var(--fs-500);
}


strong, b {
    font-weight: var(--fw-900);
}

.w-constrained {
    max-width: 90ch;
    margin-inline: auto
}

.has-small-font-size {
    font-size: var(--fs-200);
}

